[Desktop Entry]
Version=1.0
Name=NVIDIA GPU Overclocking
Comment=Overclock your NVIDIA GPU
Exec=nvgpu-overclock
Icon=nvidia
Terminal=false
Type=Application
Categories=Utility;
